<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Zecheng (Justin) Li
              </h1>
              <p>I am graduated from Carnegie Mellon University and UCSD, specializing in Machine Learning, multimodal, agentic system, RAG, and deep recommender systems.</p>
              <p>Currently, I'm working at TikTok as a Machine Learning Engineer dedicated to personalized search engine development, building both C++ infrastructure and search recommendation deep models.</p>
              <p>Previously, I've been a Machine Learning Engineer and early founder at <a href="https://app.seemuseums.art/home/curated">Metaverse Museum</a>, a Research Intern at Argonne National Laboratory developing <a href="https://vms.taps.anl.gov/tools/autonomie/ai_version/">AutonomieAI</a>, and a Project Manager & developer at <a href="https://www.linkedin.com/company/equiem/">Equiem</a> leading an enterprise-level RAG pipeline development. I have also been a Graduate Research Assistant at CMU <a href="https://teel.cs.cmu.edu/">TEEL Lab</a> helping develop AI coursework and software for online studies. In my undergrad, I was a research assistant at the <a href="https://pwrlab.org/">Power Transformation Lab</a> and served as a Teaching Assistant for <a href="https://catalog.ucsd.edu/courses/COGS.html#cogs118b">(Cogs 118b)</a>, an advanced unsupervised machine learning course at UCSD.</p>
              <p>
              My research interests include multimodal AI, reasoning, agentic systems, and reinforcement learning. My key projects include an agentic RAG-based LLM Chatbot using knowledge graph (Neo4j, LangGraph) and an advanced image editing toolkit using LLM, LMM, and VLM technologies. Proficient in Python, TensorFlow, PyTorch, Java, and experienced with GCP, AWS and Docker, I'm passionate about pushing the boundaries of AI applications in real-world scenarios.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:zechengl@andrew.cmu.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/orangejustin">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/zecheng-li-664536213/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/justin_1.png">
            </td>
          </tr>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p> Some are not listed and are still being processed.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'others' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.info}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a>{% if post.paper or post.preprint or post.report or post.slides or post.code %} / {% endif %}
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a>{% if post.preprint or post.report or post.slides or post.code %} / {% endif %}
              {% endif %}
              {% if post.preprint %}
              <a href="{{post.preprint}}">preprint</a>{% if post.report or post.slides or post.code %} / {% endif %}
              {% endif %}
              {% if post.report %}
              <a href="{{post.report}}">report</a>{% if post.slides or post.code %} / {% endif %}
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a>{% if post.code %} / {% endif %}
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>. Forked from the <a href="https://github.com/leonidk/new_website">Jekyll varient</a> by Leonid Keselman.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </table>
</body>

</html>