<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Zecheng Li (Justin)
              </h1>
              <p>I am currently pursuing my Master's degree, building upon my foundational knowledge from my BS in Mathematics-Economics and BS in Cognitive Science with a specialization in Machine Learning. My academic journey has been enriched with a minor in Data Science, all of which I undertook at UCSD. My interests lie in machine learning, analytics, and econometrics, and I pride myself on being data-driven, always seeking evidence before drawing conclusions.</p>
              <p>
              My passion for environmental sustainability and low-carbon transitions led me to join Davidson's Lab as a research assistant under the guidance of <a href="https://mdavidson.org/about/">Prof. Michael Davidson</a>. Since January 2022, I have been delving into the challenges and strategies associated with the transition of Chinese state-owned coal companies towards carbon neutrality. My research also encompasses the labor resettlement issues arising from the Thermal Coal Phase-out in China. Leveraging my expertise in data analytics, I am committed to harnessing the power of data to address climate challenges and contribute to a sustainable future.
              </p>
              <p>
              I believe in the adage that teaching is the best form of learning. This philosophy drove me to serve as a teaching assistant for <a href="https://catalog.ucsd.edu/courses/COGS.html#cogs118b">(Cogs 118b)</a>, an advanced unsupervised machine learning course at UCSD. My role involved offering personalized support to students, which not only enhanced their learning experience but also solidified my understanding of intricate machine learning concepts.
              </p>
              <p><span class="bolded"> While this site offers a glimpse into my professional journey, there are several projects and endeavors that I wish to share but am currently unable to due to ongoing processes or privacy constraints. </span> </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:zel012@ucsd.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/orangejustin">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/zecheng-li-664536213/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/justin.JPG">
            </td>
          </tr>



       <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p> Paper on labor <span class="highlight">resettlement</span> based on the consequence of thermal coal phase-out in China is in progress.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.ssrn %}
              <a href="{{post.ssrn}}">ssrn</a> /
              {% endif %}
              {% if post.workshop %}
              <a href="{{post.workshop}}">workshop</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a>
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p> Some are not listed and are still being processed.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'others' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.info}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.report %}
              <a href="{{post.report}}">report</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>. Forked from the <a href="https://github.com/leonidk/new_website">Jekyll varient</a> by Leonid Keselman.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </table>
</body>

</html>